In [1]:
"""python integer has unlimited size. They are positive or negative whole numbers without decimal point"""

"""to print the data type of a variable built-in function named 'type' is used"""
var1 = 150
print(type(var1)) # the output will be <class 'int'>

<class 'int'>

In [2]:
var1 = 24.81
print(type(var1)) # the output will be <class 'float'>

<class 'float'>

In [3]:
var1 = "helloworld"
print(type(var1)) # the output will be <class 'str'>

<class 'str'>

In [4]:
var1 = ("hello","world",'a',25,50)
print(type(var1)) # the output will be <class 'tuple'>

<class 'tuple'>

In [5]:
var1 = ["hello","world",'a',25,50]
print(type(var1)) # the output will be <class 'list'>

<class 'list'>

In [6]:
var1 = ("hello","world",('a',25,50))
print(var1[2])

('a', 25, 50)

In [7]:
var1 = (10,20,30,40)

TypeError: 'tuple' object does not support item assignment

In [8]:
var1 = (10,20,30,40,50)
print(var1)

(10, 20, 30, 40, 50)

In [9]:
var1 = {'os':'linux','db':'postgres','language':'python'}
print(type(var1)) # the output will be <class 'dict'>

<class 'dict'>

In [ ]:
var1['os']