In [1]:
# read csv using pandas

import pandas as pd

df = pd.read_csv('uk-500.csv')

In [2]:
print(df.columns)

Index(['id', 'first_name', 'last_name', 'company_name', 'address', 'city',
       'county', 'postal', 'phone1', 'phone2', 'email', 'web', 'in', 'out'],
      dtype='object')

In [3]:
#print(df.head()) # returns 1st 5 rows
print(df.head(15))

    id first_name   last_name             company_name            address  \
0  1.0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1  2.0       Evan   Zigomalas       Cap Gemini America        5 Binney St
2  3.0     France     Andrade      Elliott, John W Esq       8 Moor Place
3  4.0    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4  5.0     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal        phone1  \
0               St. Stephens Ward             Kent   CT2 7PP  01835-703597
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01937-864715
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01347-368222
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01912-771311
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01547-429341

         phone2                       email  \
0  01944-369967     atomkiewicz@hotmail.com
1  01714-737668    evan.zigomalas@gmail.com
2  01935-821636  france.andrade@hotmail.com
3  01302-601380         ulysses@hotmail.com
4  01290-367248   tyisha.veness@hotmail.com

                                    web    in  out
0  http://www.alandrosenburgcpapc.co.uk   9:3  NaN
1     http://www.capgeminiamerica.co.uk  9:13  NaN
2      http://www.elliottjohnwesq.co.uk  9:46  NaN
3          http://www.mcmahanbenl.co.uk   9:4  NaN
4        http://www.champagneroom.co.uk   8:1  NaN

In [6]:
import pandas as pd
df1 = pd.read_excel('test1.xlsx',sheet_name='Sheet1')

#print(df1)

print(df1.loc[~df1['Employee Name'].isnull()])

    S. No.           Employee Name    Signum Day 1 Day 2 Day 3  Day 4  Day 5
0      1.0        Swati Khandelwal   EZKHASW     p     p     p    NaN    NaN
1      2.0              Jaya Vohra   EVOHJAY     p     p     p    NaN    NaN
2      3.0        Shalini Lavaniya   EALASHW   NaN   NaN   NaN    NaN    NaN
3      4.0          Abhishek Kumar   EKURABK     p     p     p    NaN    NaN
4      5.0             Arun Sharma   EDGHKKM     p     p     p    NaN    NaN
5      6.0       Jhalak Maheshwari   EMAHJHA     p     p     p    NaN    NaN
6      7.0            Mohammad Zia   EMADZIA     p     p     p    NaN    NaN
7      8.0                Satender   ERRSVVX     p     p     p    NaN    NaN
8      9.0         Kumar Saurabh B   ekoqrrs     p   NaN   NaN    NaN    NaN
9     10.0                Asif . A   easixxx   NaN   NaN   NaN    NaN    NaN
10    11.0           Amit Sharma E   ehiaams   NaN   NaN   NaN    NaN    NaN
11    12.0  SANJEEV KUMAR BARANWAL   ESABARA     p     p     p    NaN    NaN
15     NaN          Indresh Thakur   EIANDHT     p     p     p    NaN    NaN
16     NaN         Harvinder Singh   EASINHR     p     p     p    NaN    NaN
17     NaN         Subham Agrahari   EASURBG     p     p     p    NaN    NaN
18     NaN      Gourav Kumar Guddu   EGUDGOU     p     p   NaN    NaN    NaN
19     NaN             Lalita Rani   EXXXLAL     p     p     p    NaN    NaN
20     NaN             Shrey Gupta   EUHSPGR     p     p     p    NaN    NaN
21     NaN          Nishant Ranjan   EINRASN     p     p     p    NaN    NaN

In [7]:
df = pd.read_csv('uk-500.csv') 

df.to_excel('excel_from_csv.xlsx',index=False)

In [8]:
# filtering on data fram using iloc and loc

print(df.loc[df['email'].str.endswith('gmail.com')]) # filter email column ending with 'gmail.com'

       id   first_name  last_name                  company_name  \
1     2.0         Evan  Zigomalas            Cap Gemini America
11   12.0  Charlesetta        Erm              Cain, John M Esq
12   13.0     Corrinne      Jaret             Sound Vision Corp
29   30.0        Karma     Quarto               J C S Machinery
32   33.0        Milly    Savidge     Bridgeway Plan For Health
..    ...          ...        ...                           ...
472   NaN          Mel   Picciuto                Avante Limited
480   NaN      Tijuana   Machalek        Schwartz, Thomas E Esq
483   NaN      Derrick    Dolloff       Proto Tek Manufacturing
494   NaN       Alesia      Katie  Nelsons Trmt & Pest Cntrl Co
498   NaN    Celestina      Keeny      Bfg Federal Credit Union

                    address                  city                  county  \
1               5 Binney St            Abbey Ward         Buckinghamshire
11              5 Hygeia St  Loundsley Green Ward              Derbyshire
12           2150 Morley St              Dee Ward   Dumfries and Galloway
29             1 Birkett St        Shard End Ward           West Midlands
32    129 Alexander Pope St          Franche Ward  Hereford and Worcester
..                      ...                   ...                     ...
472          8598 Rumney Rd          Hylands Ward                   Essex
480  1149 Highfield Rd #996    Fareham South Ward               Hampshire
483         236 Blantyre Rd          Everton Ward              Merseyside
494         4 Covent Garden        Farnworth Ward      Greater Manchester
498             9 Milton St      Consett North ED           County Durham

       postal        phone1        phone2                       email  \
1    HP11 2AX  01937-864715  01714-737668    evan.zigomalas@gmail.com
11    S40 4LY  01276-816806  01517-624517   charlesetta_erm@gmail.com
12    DG8 7DE  01625-932209  01642-322954    corrinne_jaret@gmail.com
29    B33 0NH  01857-864722  01307-667811           kquarto@gmail.com
32   DY11 9BW  01702-725589  01421-132652             milly@gmail.com
..        ...           ...           ...                         ...
472  RM11 1QL  01885-270480  01268-443299      mel.picciuto@gmail.com
480  PO14 9JJ  01242-532395  01336-686264  tijuana.machalek@gmail.com
483    L6 2EN  01982-734773  01619-554437   derrick_dolloff@gmail.com
494   BL4 7AF  01333-436799  01240-614527      alesia_katie@gmail.com
498   DH8 5LP  01877-379681  01600-463475   celestina_keeny@gmail.com

                                         web    in  out
1          http://www.capgeminiamerica.co.uk  9:13  NaN
11             http://www.cainjohnmesq.co.uk  8:50  NaN
12          http://www.soundvisioncorp.co.uk  9:55  NaN
29             http://www.jcsmachinery.co.uk  8:49  NaN
32   http://www.bridgewayplanforhealth.co.uk  9:24  NaN
..                                       ...   ...  ...
472           http://www.avantelimited.co.uk  8:39  NaN
480      http://www.schwartzthomaseesq.co.uk  8:59  NaN
483   http://www.prototekmanufacturing.co.uk   8:9  NaN
494  http://www.nelsonstrmtpestcntrlco.co.uk   9:4  NaN
498   http://www.bfgfederalcreditunion.co.uk  9:21  NaN

[130 rows x 14 columns]

In [9]:
print(df.loc[df['email'].str.endswith('gmail.com'),['first_name','last_name','email']])

      first_name  last_name                       email
1           Evan  Zigomalas    evan.zigomalas@gmail.com
11   Charlesetta        Erm   charlesetta_erm@gmail.com
12      Corrinne      Jaret    corrinne_jaret@gmail.com
29         Karma     Quarto           kquarto@gmail.com
32         Milly    Savidge             milly@gmail.com
..           ...        ...                         ...
472          Mel   Picciuto      mel.picciuto@gmail.com
480      Tijuana   Machalek  tijuana.machalek@gmail.com
483      Derrick    Dolloff   derrick_dolloff@gmail.com
494       Alesia      Katie      alesia_katie@gmail.com
498    Celestina      Keeny   celestina_keeny@gmail.com

[130 rows x 3 columns]