In [1]:
import pandas as pd
import dateutil as du
df=pd.read_csv('phone_data.csv')

print(df.head())

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [5]:
print(du.parser.parse("15/10/14 06:58"))

2014-10-15 06:58:00

In [4]:
df['date'] = df['date'].apply(du.parser.parse)

print(df)

     index                date  duration  item    month   network network_type
0        0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1        1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2        2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3        3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4        4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile
..     ...                 ...       ...   ...      ...       ...          ...
825    825 2015-03-13 00:38:00     1.000   sms  2015-03     world        world
826    826 2015-03-13 00:39:00     1.000   sms  2015-03  Vodafone       mobile
827    827 2015-03-13 06:58:00    34.429  data  2015-03      data         data
828    828 2015-03-14 00:13:00     1.000   sms  2015-03     world        world
829    829 2015-03-14 00:16:00     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [6]:
print(df.loc[df['item']=='call']['duration'].sum())

92321.0

In [7]:
print(df.groupby(['item'])['duration'].aggregate(sum))

item
call    92321.00
data     5164.35
sms       292.00
Name: duration, dtype: float64

In [8]:
import numpy as np
print(df.groupby(['month']).aggregate({'duration':[sum,np.mean]}))

          duration
               sum        mean
month
2014-11  26639.441  115.823657
2014-12  14641.870   93.260318
2015-01  18223.299   88.894141
2015-02  15522.299  113.301453
2015-03  22750.441  225.251891