In [1]:
s1 = "name,mark,subject\ntom,78,math\npat,81,science\nbob,73,english"

# d1 = {
#   's1': {'name':'tom','mark','78','subject':'math'},
#   's2': {'name':'pat','mark','81','subject':'science'},
#   's3': {'name':'bob','mark','73','subject':'english'},
# }

In [2]:
d1 = {} # define an empty dictionary

In [3]:
data = s1.split("\n")

print(data)

['name,mark,subject', 'tom,78,math', 'pat,81,science', 'bob,73,english']

In [4]:
header = data.pop(0)

print(header)

name,mark,subject

In [5]:
header = header.split(',')
print(header)

['name', 'mark', 'subject']

In [11]:
for num,v in enumerate(data,1):
    key = "s{}".format(num)
    student = v.split(',')
    d2 = dict(zip(header,student))
    d1.setdefault(key,d2)
    print(key,d2)

s1 {'name': 'tom', 'mark': '78', 'subject': 'math'}
s2 {'name': 'pat', 'mark': '81', 'subject': 'science'}
s3 {'name': 'bob', 'mark': '73', 'subject': 'english'}

In [12]:
print(d1)

{'s1': {'name': 'tom', 'mark': '78', 'subject': 'math'}, 's2': {'name': 'pat', 'mark': '81', 'subject': 'science'}, 's3': {'name': 'bob', 'mark': '73', 'subject': 'english'}}