In [5]:

pi = 3.14159

print("pi=%f" %pi)

pi=3.141590

In [4]:

pi = 3.14159

print("pi=%.2f" %pi)

pi=3.14

In [6]:
# to produce a output something like 'bob has scored 80 marks in maths', 
# using variables name,mark and subject with '%' opertor we do as given below

name='bob'
mark=80
subject='maths'

print("%s has scored %d marks in %s" %(name,mark,subject))

bob has scored 80 marks in maths

In [7]:
# Even with the information(data) in the form of a dictionary, the same output could be produced

d1 = {'name':'bob','mark':80,'subject':'maths'}

print("%(name)s has scored %(mark)d marks in %(subject)s" %d1)

bob has scored 80 marks in maths

In [11]:
print("s{}_{}".format(1,2))

s1_2

In [1]:
# in the below statement the pair of curly braces are substituted with the parameters of 
# format function is same order how they were passed
print("We have {} students in {}".format(60, "Computer Science"))

We have 60 students in Computer Science

In [3]:
# if the values passed in different order to the format function, index can be used to substitute appropriately
print("We have {1} students in {0}.".format("Computer Science",60))

We have 60 students in Computer Science.

In [4]:
# if the values passed in different order to the format function, index can be used to substitute appropriately
print("We have {numbers} students in {dept}.".format(dept="Computer Science",numbers=60))

We have 60 students in Computer Science.

In [6]:
# if the values passed in different order to the format function, index can be used to substitute appropriately
department="Computer Science"
num_of_students = 60
print("We have {1} students in {0}.".format(department,num_of_students))

We have 60 students in Computer Science.

In [7]:
d1= {'department':'Computer Science','num_of_students':60}

print("We have {num_of_students} students in {department}.".format(**d1)) # output will be the same as above statement
                                                     # ** - refers unknown number of key and value pairs

We have 60 students in Computer Science.

In [10]:
department="Computer Science"
num_of_students = 60
s1 = f"We have {num_of_students} students in {department}"

print(s1)

We have 60 students in Computer Science